html {
	background-color: #9fc6ac;
	margin: 0px;
	padding: 0px;
}

body#main-page {
	background: url("../images/animated_cube_smaller_again.gif") repeat;
	font-family: 'Droid Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
}

body {
	font-family: 'Droid Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

nav, td, tr {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table, tbody {
	border-collapse: collapse;
  border-spacing: 0;
	padding: 0px;
	margin: 0px;
}

nav {
	text-align: center;
}

td {
	text-align: center;
  vertical-align: top;
}

td.accomp {
	width: 100px;
	vertical-align: top;
}

td.accomp-top {
	width: 100px;
	padding-top: 10px;
	padding-bottom: 5px;
}

td.accomp-mid {
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
}

td.accomp-bot {
	width: 100px;
	padding-top: 5px;
	padding-bottom: 10px;
}

img#oscar-main {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-clip: content-box;
	border-radius: 2em;
}

div.block {
	display: inline-block;
	margin-left: 20px;
	padding-right: 20px;
}

p.heading {
	display: block;
	font-size: 1.5em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-weight: bold;
	color: #ccc;
}

ul.circle {
	list-style-type: circle;
}

ol.letters  {
	list-style-type: upper-alpha;
}

ul.image {
	list-style-image: url("../images/mu_bullet.png");
}

a {
	color: #000;
}

a:hover {
	color: #080;
}

#blue-nav {
	background-color: #5388ac;
}

#pink-box {
	width: 400px;
	padding: 1px 10px 1px 10px;
	background-color: #e8b0e8;
	border: 2px solid #550055;
}

#green-box {
	width: 400px;
	background-color: #59a659;
	padding: 1px 10px 1px 10px;
	border: 2px solid #003300;
}

#center-body {
	width: 600px;
	background-color: rgba(221, 221, 221, 0.8);
	padding: 10px;
	padding-bottom: 20px;
	margin: auto;
}

#white-body {
	max-width: 800px;
	background-color: #ccc;
	padding: 10px;
	margin: auto;
	margin-bottom: 60px;
}

#gray {
	width: auto;
	height: auto;
	background-color: #dddddd;
	display: block;
}

main#white-body td {
	width: 400px;
}

.pink {
	color: #ff00ff;
	text-align: center;
}

.center{
	margin: auto;
}

.center-text {
	text-align: center;
}

.blue-text {
	color: #5388ac;
	text-align: center;
}
