footer {
	height: 200px;
}

/* images */
a.alg:link {
	position: relative;
	z-index: 1;
}

h2 {
	position: relative;
	z-index: 1;
}

#a3 {
	position: relative;
	background-image: url("../images/new/a3.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#a6 {
	position: relative;
	background-image: url("../images/new/a6.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#b1 {
	position: relative;
	background-image: url("../images/new/b1.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#b2 {
	position: relative;
	background-image: url("../images/new/b2.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#b3 {
	position: relative;
	background-image: url("../images/new/b3.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#b4 {
	position: relative;
	background-image: url("../images/new/b4.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#b5 {
	position: relative;
	background-image: url("../images/new/b5.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#b6 {
	position: relative;
	background-image: url("../images/new/b6.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#c1 {
	position: relative;
	background-image: url("../images/new/c1.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#c2 {
	position: relative;
	background-image: url("../images/new/c2.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#c3 {
	position: relative;
	background-image: url("../images/new/c3.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#c4 {
	position: relative;
	background-image: url("../images/new/c4.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#c5 {
	position: relative;
	background-image: url("../images/new/c5.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#c6 {
	position: relative;
	background-image: url("../images/new/c6.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#d1 {
	position: relative;
	background-image: url("../images/new/d1.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#d2 {
	position: relative;
	background-image: url("../images/new/d2.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#d3 {
	position: relative;
	background-image: url("../images/new/d3.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#d4 {
	position: relative;
	background-image: url("../images/new/d4.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#d5 {
	position: relative;
	background-image: url("../images/new/d5.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#d6 {
	position: relative;
	background-image: url("../images/new/d6.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#e1 {
	position: relative;
	background-image: url("../images/new/e1.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#e2 {
	position: relative;
	background-image: url("../images/new/e2.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#e3 {
	position: relative;
	background-image: url("../images/new/e3.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#e4 {
	position: relative;
	background-image: url("../images/new/e4.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#e5 {
	position: relative;
	background-image: url("../images/new/e5.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#e6 {
	position: relative;
	background-image: url("../images/new/e6.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#f1 {
	position: relative;
	background-image: url("../images/new/f1.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#f2 {
	position: relative;
	background-image: url("../images/new/f2.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#f3 {
	position: relative;
	background-image: url("../images/new/f3.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#f4 {
	position: relative;
	background-image: url("../images/new/f4.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#f5 {
	position: relative;
	background-image: url("../images/new/f5.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#f6 {
	position: relative;
	background-image: url("../images/new/f6.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#g1 {
	position: relative;
	background-image: url("../images/new/g1.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#g2 {
	position: relative;
	background-image: url("../images/new/g2.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#g3 {
	position: relative;
	background-image: url("../images/new/g3.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#g4 {
	position: relative;
	background-image: url("../images/new/g4.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#g5 {
	position: relative;
	background-image: url("../images/new/g5.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#g6 {
	position: relative;
	background-image: url("../images/new/g6.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#h1 {
	position: relative;
	background-image: url("../images/new/h1.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#h2 {
	position: relative;
	background-image: url("../images/new/h2.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#h3 {
	position: relative;
	background-image: url("../images/new/h3.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}

#h6 {
	position: relative;
	background-image: url("../images/new/h6.png");
	width: 200px;
	height: 200px;
	display: inline-block;
	z-index: 1;
}
